#################################
# python
#################################

*.pyc
*.py~

#################################
# virtualenv/setuptools
#################################

.venv/
*.egg-info/

#################################
# Mac OS
#################################

.DS_Store

#################################
# IDE
#################################

.idea/
